= table.column :locale
= table.column :name, class: 'truncate-chars truncate-chars-30'
= table.column :description, class: 'truncate-chars truncate-chars-30'
= table.column :downloads_count
= table.association :parent
= table.timestamps