.well
  = form.association :download_category

.well
  = form.input :asset

.well
  = form.input :name
  = form.input :description, input_html: { 'data-add-editor': true, 'data-editor-syntax': :textile }
  = form.input :published, as: :boolean